/* 標題 */
.orderedschedule {

    height: 150px;
    background-color: gray;
    margin: 30px;
    padding-top: 40px;
    text-align: center;
    font-size: xx-large;
}

/* 已報名課程表 */
.orderedform {
    background-color: rgb(255, 255, 215);
    height: 600px;
    /* width: 100%; */
    margin: 10px 100px;
    text-align: center;
    font-size: large;
}